
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
            
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
                
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.headerMenuIcon {
	margin-bottom: auto;
	margin-right: 1.5%;
	margin-top: auto;
	height: 70%;
}
     
.companyLogo {
	height: 70%;
	margin-top: auto;
	margin-bottom: auto;
}

.header {
	border-bottom: 1px solid #E5E7E9;                  
	justify-content: space-between;
	font-size: calc(10px + 2vmin);
	padding-bottom: auto;
	flex-direction: row;
	padding-top: auto;
	background: white;
	padding-right: 3%;
	padding-left: 3%;
	display: flex;
	width: 100%;      
	z-index: 2;
	height: 8%;
}

* { 
	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box; 
}
    

   