.headerMenuIcon {
	margin-bottom: auto;
	margin-right: 1.5%;
	margin-top: auto;
	height: 70%;
}
     
.companyLogo {
	height: 70%;
	margin-top: auto;
	margin-bottom: auto;
}

.header {
	height: 8%;
	width: 94%;      
	z-index: 2;
	display: flex;
	padding-left: 3%;
	padding-right: 3%;
	background: white;
	padding-top: auto;
	flex-direction: row;
	padding-bottom: auto;
	font-size: calc(10px + 2vmin);
	justify-content: space-between;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


   