
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
	
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
	
}
    
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
                
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.companyLogoLink {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: 17.5vw;
}

.headerMenuIcon {
	margin-bottom: auto;
	margin-right: 1.5%;
	margin-top: auto;
	height: 70%;
}
     
.companyLogo {
	margin-bottom: auto;
	margin-top: auto;
	height: 55%;
}

.header {
	border-bottom: 1px solid #E5E7E9;                  
	justify-content: space-around;
	font-size: calc(10px + 2vmin);
	padding-bottom: auto;
	flex-direction: row;
	padding-top: auto;
	background: white;
	position: fixed;
	display: flex;
	width: 100vw;      
	z-index: 2;
	height: 8vh;
}

* { 
	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box; 
}
    

   