
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.menuLayoutClass {    
		margin-left: 93.5vw !important;
		height: 4vmin !important;
		width: 4vmin !important;
	}	 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.basicHollowButton {
	flex-direction: column;
	display: inline-flex;
}

.menuIconClass {
	width: 70%;
}

.menuLayoutClass {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #000000;
	border-radius: 50%;
	margin-left: 90vw;
	margin-top: -89vh;
	position: fixed;
	cursor: pointer;
	display: flex;
	height: 6vmin;
	opacity: 0.7;
	width: 6vmin;
	z-index: 2;
}

.floatingAccountButton {
	margin-right: 2vmin;
	margin-left: 2vmin;
}
 
.iconMenuImage {
	margin-right: 1vmin;
	height: 20px;
}

.borderlessIconMenu {
	font-size: calc(10px + 1.5vmin);
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 7vh;
}

.bottomBorderIconMenu {
	border-bottom: 0.3vmin solid #E5E7E9;
	font-size: calc(10px + 1.5vmin);
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 7vh;
}

.horizontalButtonList {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	flex-direction: row;    
}

.emptyMessengerButtons {
	height: 5vmin;
	white-space: nowrap;
	font-size: calc(10px + 0.5vmin);
	margin-top: 0vmin;
	margin-right: 2vmin;
}

.sexualityButton {
  margin-right: 2vmin;
}

.selectedMenuLayout {
	background: #097ECA;
}

.ignoredMenuLayout {
	background: #D4E6F1;
}

.bottomMenuIcon {
	height: 3.3vmin;
	width: 3.3vmin;
}

.bottomMenuLayout {
	justify-content: center;
	flex-direction: row;
	margin-bottom: auto;
	align-items: center;
	border-radius: 5px;
	margin-top: auto;
	height: 5.5vmin;
	display: flex;
	outline: none;
	width: 4vmin;
	border: none;
}

.formFieldClass {
	min-width: 87% !important;
	height: 90% !important; 
}

.dateMomoMessageEditor {
  font-size: calc(10px + 1.5vmin);
  -webkit-box-orient: vertical;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
	padding-bottom: 1.5vmin;
  text-overflow: ellipsis;
  white-space: -pre-wrap;
	white-space: pre-wrap;
  word-wrap: break-word;
  -webkit-line-clamp: 5; 
	margin-bottom: 1vmin;
	padding-top: 1.5vmin;
  display: -webkit-box;
	background: #EAEDED;   
	border-radius: 8px;
	margin-top: 1vmin;
	padding-right: 2%;
	padding-left: 2%;
	height: inherit;
  overflow: auto;
  line-clamp: 5; 
	outline: none;
	border: none;
	width: 97%;
}

.ageFormField {
	text-align: center;
	height: 7vmin;
}

.leftHollowButtonContent {
	justify-content: center;
	display: inline-flex;
}

.leftHollowButtonTitle {
	display: inline-block;
	color: #097ECA;
}

.hollowButtonLeftIcon {
	display: inline-block;
	margin-right: 1vmin;
	height: 4vmin;
	width: 4vmin;
}

.rightIconFieldLayout {
	justify-content: space-between;
	padding-bottom: 0.5vmin;
	padding-top: 0.5vmin;
	padding-right: 2vmin;
	flex-direction: row; 
	margin-bottom: auto;
	padding-left: 2vmin;
	align-items: center;
	background: #EAEDED;
	border-radius: 8px;
	margin-top: auto;	
	display: flex;
	height: 65%;
	width: 65vw;
}

.fieldLayout {
	display: flex;
	flex-direction: row;
	padding-left: 0.5vmin;
	padding-right: 1.5vmin;
	align-items: center;
	background: #EAEDED;
	padding-top: 0.5vmin;
	padding-bottom: 0.5vmin;
	padding-left: 2vmin;
	padding-right: 2vmin;
	justify-content: center;
	border-radius: 8px;
	margin-bottom: 2vmin;
}

.leftIconHollowButton {
	height: 7vmin;
	font-size: calc(10px + 1vmin);
	width: 100%;
	border: none;
	cursor: pointer;
	padding-left: 7vmin;
	padding-right: 7vmin;
	border-radius: 25px;
	margin-top: 2vmin;
}

button {
	height: 7vmin;
	font-size: calc(10px + 1vmin);
	width: fit-content;
  border: 0.3vmin solid #097ECA;
	cursor: pointer;
	padding-left: 3vmin;
	padding-right: 3vmin;
	border-radius: 25px;
	margin-top: 2vmin;	
	justify-content: center;
	align-items: center;
}

input[type="text"], input[type="number"], input[type="password"] {
	height: 6vmin;
	min-width: 95%;
	background: #EAEDED;   
	outline: none;
	border: none;
	border-radius: 8px;
}

.basicButton {
	background: #097ECA;
	outline: none;
	color: white;
}

.hollowButton {
	background: white;
	border: 0.3vmin solid #097ECA !important;
	color: #097ECA;
}

.leftFieldIcon {
	margin-bottom: -0.7vmin;
	margin-right: 1vmin;
	height: 4vmin;
	width: 4vmin;
}

.rightFieldIcon {
	margin-left: 1vmin;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

.buttonTopMargin {
	margin-top: 3vmin !important;
}

img, input {
	font-size: calc(10px + 1.5vmin);
	display: inline;
}

label {
	font-size: calc(10px + 0.7vmin);
	margin-bottom: 0.5vmin;
	display: block;
}

div {
	display: block;
	color: #1C2833;
}

* { 
	-moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
    

