.ageFormField {
	text-align: center;
	height: 7vmin;
	width: 15%;
}

.leftHollowButtonContent {
	justify-content: center;
	display: inline-flex;
}

.leftHollowButtonTitle {
	display: inline-block;
	color: #097ECA;
}

.hollowButtonLeftIcon {
	display: inline-block;
	margin-right: 1vmin;
	height: 4vmin;
	width: 4vmin;
}

.fieldLayout {
	display: inline-block;
	padding-left: 0.5vmin;
	padding-right: 1.5vmin;
	overflow: auto;
	align-items: center;
	background: #EAEDED;
	padding-top: 0.5vmin;
	padding-bottom: 0.5vmin;
	padding-left: 2vmin;
	padding-right: 2vmin;
	justify-content: center;
	border-radius: 8px;
	margin-bottom: 2vmin;
}

.leftIconHollowButton, input[type="submit"] {
	height: 7vmin;
	font-size: calc(10px + 1vmin);
	width: 100%;
	border: none;
	cursor: pointer;
	padding-left: 7vmin;
	padding-right: 7vmin;
	border-radius: 25px;
	margin-top: 2vmin;
}

input[type="text"], input[type="number"], input[type="password"] {
	height: 6vmin;
	background: #EAEDED;   
	outline: none;
	border: none;
	border-radius: 8px;
}

.basicButton {
	background: #097ECA;
	outline: none;
	color: white;
}

.hollowButton {
	background: white;
	border: 0.3vmin solid #097ECA !important;
	color: #097ECA;
}

.leftFieldIcon {
	margin-bottom: -0.7vmin;
	margin-right: 1vmin;
	height: 4vmin;
	width: 4vmin;
}

.buttonTopMargin {
	margin-top: 3vmin !important;
}

img, input {
	font-size: calc(10px + 1.5vmin);
	display: inline;
}

label {
	font-size: calc(10px + 0.7vmin);
	margin-bottom: 0.5vmin;
	display: block;
}

div {
	display: block;
	color: #1C2833;
}


