.login {
  background: #E5E7E9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.loginWidget {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 7vmin;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 17vmin;
  height: 17vmin;
  margin-bottom: 5vmin;
}


