
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .loginWidget {
    width: 85% !important;
  }            
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
                
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
    
.registerInputLayout {
  width: 100%;
}

.progressLoadingLayout {
  justify-content: center;
  flex-direction: row;
  display: flex;
  width: 100%; 
}

.progressLoadingIcon {
  width: 55px;
}

.googlePlayLayout {
  justify-content: center;
  flex-direction: row;
  margin-top: 3vmin;
  display: flex;
  width: 100%;
}

.googlePlayDownload {
  width: 151px;  
}

.registerPageTitle {
  display: inline-block;
}

.registerPageIcon {
  display: inline-block;
  height: 55px;
  float: right;       
}

.registerPageHeader {
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  margin-bottom: 7vmin;
  flex-direction: row;
  align-items: center;
  font-style: bold;
  color: #1C2833;
  display: flex;
  width: 100%;
}

.login::-webkit-scrollbar { 
    display: none;  
}

.login {
  font-size: calc(10px + 2vmin);
  -ms-overflow-style: none; 
  justify-content: center;
  flex-direction: column;
  scrollbar-width: none; 
  align-items: center;
  background: #E5E7E9;
  min-height: 100vh;
  overflow-y: auto;
  color: #1C2833;
  display: flex;
}

.loginWidget {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10vmin;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-bottom: 5vmin;
  width: 65px;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
    

