
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
            
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
                
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.registerPageTitle {
  display: inline-block;
}

.registerPageIcon {
  display: inline-block;
  width: 13vmin;
  float: right;       
}

.registerPageHeader {
  font-size: calc(20px + 2vmin);
  font-style: bold;
  color: #1C2833;
  width: 100%;
  margin-bottom: 7vmin;
}

.login {
  background: #E5E7E9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  overflow-y: auto;
  color: #1C2833;
}

.loginWidget {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 10vmin;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 13vmin;
  margin-bottom: 5vmin;
}

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}
    

