.hostUserMessage {  
	background: #097ECA; 
	color: white;
	float: right;
}

.chatMateMessage { 
	background: #E5E7E9;   
	float: left;
}

.baseMessage {
	font-size: calc(10px + 1vmin);
  	-webkit-box-orient: vertical;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
  	text-overflow: ellipsis;
  	white-space: -pre-wrap;
	white-space: pre-wrap;
  	word-wrap: break-word;
  	display: -webkit-box;
	border-radius: 15px; 
	margin-right: 2vmin;
	margin-left: 2vmin;
	width: fit-content;
	margin-top: 2vmin;
	max-width: 70%;
	padding: 2vmin;
	outline: none;
	border: none;
}

.chatMessageLayout {
	width: 100%;
	overflow-y: auto;
	padding-bottom: 2vmin;
}

.messageSenderIcon {
	height: 9vmin;
	margin-left: -3vmin;
}

.messageSenderLayout {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 100%;
	width: 11%;
}

.messageInputField {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 100%;
	width: 89%;
}

.messageMenuIcon {
	width: 30px;
}

.messageMenuLayout {
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: 9%;	
}

.backNavigationLayout {
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: 9%;
}

.lastActiveTime {
	font-size: calc(10px + 0.5vmin);
}

.chatMateUserName {
	font-size: calc(10px + 1.5vmin);
	font-style: bold;
}

.chatMateUserNameLayout {
	justify-content: space-evenly;
	flex-direction: column;
	padding-right: 1%;
	padding-left: 1%;
	display: flex;
	width: 71%;
}

.headerPictureLayout {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	display: flex;
	height: 100%;
	width: 11%;
}

.backNavigationIcon {
	width: 25px;
}

.dateMomoMessageBody {
	height: 85%;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.dateMomoMessageFooter {
	justify-content: space-between;
	border-top: 1px solid #E5E7E9;
	flex-direction: row;
	align-items: center;
	position: absolute;
	background: white;
	min-height: 7%;
	display: flex;
	width: 100%;
	bottom: 0px;
	z-index: 2;
}

.dateMomoMessageHeader {
	border-bottom: 1px solid #E5E7E9;
	justify-content: space-between;
	flex-direction: row;
	background: white;
	display: flex;
	width: 100%;
	height: 8%;
}   

.dateMomoMessageLayout {
	flex-direction: column;
	background: white;
	display: flex;
	height: 100%;
	width: 100%;
}

* { 
	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box; 
}
    

