
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
	.loginWidget {
		margin-bottom: 5%;
		margin-top: 5%;
		width: 70%;
	}            
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
	
}
      
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
                
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

.pictureDisplayImage {
	cursor: pointer;
	height: 100vh;
}

.previousPictureSelector {
	height: 10vh !important;
	width: 10vmin !important;
	margin-top: 45vh;
}

.nextPictureSelector {
	height: 10vh !important;
	width: 10vmin !important;
	margin-left: 95vw;
	margin-top: 45vh;
}

.pictureLayoutCloser {
	margin-left: 95vw;
	margin-top: 2.5vh;
}

.pictureLayoutIcon {
	position: fixed;
	cursor: pointer;
	height: 7vmin;
	width: 7vmin;
	z-index: 2;
	left: 0;
	top: 0;
}

.rightClickableSpan {
	height: 40vh !important;
	width: 15vw !important;
	z-index: 1 !important;
	margin-left: 85vw;
	margin-top: 30vh; 
}

.leftClickableSpan {
	height: 40vh !important;
	width: 15vw !important;
	z-index: 1 !important;
	margin-top: 30vh; 
}

.pictureDisplayBackground {
	background: black;
	position: fixed;
	height: 100vh;
	width: 100vw;
	opacity: 0.8;
	z-index: 2;
	left: 0;
	top: 0;
}

.pictureDisplayLayout {
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: fixed;
	cursor: pointer;
	display: flex;
	height: 100vh;
	width: 100vw;
	z-index: 3;
	left: 0;
	top: 0;
}

.upperGalleryPadding {
	height: 2vmin;
	width: 100%;
}

.outerGalleryLayout {
	background: black;
}

.userGalleryLayout {
	height: 100%;
	width: 100%;
}

.centerMessage {
	justify-content: center;
	flex-direction: row;
	display: flex;
}

.inputErrorMessage {
  font-size: calc(10px + 0.5vmin);
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 1vmin;
  color: #E74C3C;
  width: 100%;
}
    
.femaleSexButtons {
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: 49%;
}

.maleSexButtons {
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	display: flex;
	width: 49%;
}

.uploadPictureButton {
	display: none;
}

.customTopMargin {
	margin-top: 3vmin !important;
}

.ageFormTitle {
	margin-right: 1.5vmin;
}

.ageFormLayout {
	justify-content: center;
	display: inline-flex;
	align-items: center;
	margin-top: 4vmin;
	color: #1C2833;
	width: 25%;
}

.sexTitle {
  font-size: calc(15px + 0.7vmin);
  font-style: bold;
  color: #1C2833;
  width: 100%;
  margin-bottom: -1vmin;
  margin-top: 2vmin;
}

.leftHollowButtonTitle {
	margin-top: 0.3vmin;
}

.uploadPicture {
	float: right;
}

.leftIconHollowButton {
  font-size: calc(10px + 0.5vmin);
  justify-content: center;
  display: inline-flex;
  padding-right: 3vmin;
  padding-left: 3vmin;
  align-items: center;
  width: 49%;
}
        
.pictureButtons {
	justify-content: space-between;
	flex-direction: row;
	display: flex;
  width: 100%;
}

.userPicture {
	margin-bottom: -1vmin;
	border-radius: 15px;
	margin-top: -3vmin;
	cursor: pointer;
	width: 100%;
}

*::-webkit-scrollbar { 
    display: none;  
}

* { 
  -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
  -ms-overflow-style: none; 
  box-sizing: border-box; 
  scrollbar-width: none; 	
}
    

