.sexualityButtonLayout {
  display: inline-block;
  margin-bottom: 1vmin;
  width: 96% !important;
}

.sexualCategoryHeader {
  font-size: calc(15px + 1vmin);
  margin-top: 1vmin;
  font-style: bold;
  color: #1C2833;
  width: 100%;
}


