.bottomPadding {
	height: 5vmin;
}

.greyHollowButton {
	background: #EAEDED !important;
}

.floatContentRight {
	float: right;
}

.hideComponent {
	display: none !important;
}

.emptyMessengerPicture {
	background-repeat: no-repeat;
	border-radius: 50%;
	cursor: pointer;
	height: 55px;            
	width: 55px;	
}

.roundPictureClass {
	background-repeat: no-repeat;
	object-position: center;
	margin-bottom: auto;
	border-radius: 50%;
	object-fit: cover;
	margin-top: auto;
	cursor: pointer;
	height: 37px;            
	width: 37px;
}

.fullWidth {
	width: 100%;
}

.halfSpacedWidth {
	width: 48% !important;
}


