.lineSeparator {
	margin-bottom: 2vmin;
	background: #E5E7E9;
	margin-top: 2vmin;
	height: 1px;
	width: 100%;
}

.iconMargin { 

}

.bottomMargin {
	margin-bottom: 4vmin;
}

.messageHeaderPicture {
	background-repeat: no-repeat;
	border-radius: 50%;
	cursor: pointer;
	height: 35px;            
	width: 35px;	
}

.dateMomoOuterLayout {
	font-size: calc(10px + 2vmin);
	flex-direction: column;
	background: #E5E7E9;
	color: #1C2833;
	display: flex;
	height: 100vh;
	width: 100vw;
}

.bottomPadding {
	height: 5vmin;
}

.greyHollowButton {
	background: #EAEDED !important;
}

.floatContentRight {
	float: right;
}

.hideComponent {
	display: none !important;
}

.emptyMessengerPicture {
	background-repeat: no-repeat;
	object-position: center;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
	height: 55px;            
	width: 55px;	
}

.roundPictureClass {
	background-repeat: no-repeat;
	object-position: center;
	margin-bottom: auto;
	border-radius: 50%;
	object-fit: cover;
	margin-top: auto;
	cursor: pointer;
	height: 37px;            
	width: 37px;
}

.fullWidth {
	width: 100%;
}

.halfSpacedWidth {
	width: 49% !important;
}

* { 
	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box; 
}
    

