
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.timelineWidget {
		background: white !important;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.timelineWidget {
		margin-bottom: 1vmin !important; 
		height: 65vmin !important;
/*		background: pink !important;*/
		width: 100% !important;
	}               
          
	.leftMenuLayout {
		display: flex !important;
	}

	.outerParentLayout {
		padding-bottom: 1vh !important;
	}

	.scrollView {
		width: 60% !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.timelineWidget {
		background: green !important;
	}               
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.timelineWidget {
		background: red !important;
	}               
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.timelineWidget {
		background: blue !important;
	}               
}

.timelineCover {
	background: #E5E7E9;
	position: fixed;
	display: flex;
	height: 100vh;
	width: 100vw;
	z-index: 1;
	left: 0px;
	top: 0px;
}

.colorLoaderLayout {
	justify-content: center;
	flex-direction: row;
	align-items: center;
	display: flex;
	width: 100%;
}

.colorLoader {
	width: 7%;
}

.heartIcon {
	height: 5vmin;
	width: 5vmin;
}
 
.likeIconLayout {
	justify-content: center;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	float: right;
	height: 100%;
	width: 15%;
}

.locationText {
	font-size: calc(10px + 0.5vmin);
	margin-right: 5vmin;
	margin-left: 5vmin;
	float: left;	
}

.userNameText {
	font-size: calc(10px + 2vmin);
	margin-right: 5vmin;
	margin-left: 5vmin;
	font-style: bold;
	float: left;
}

.userNameLayout {
	justify-content: center;
	flex-direction: column;
	cursor: pointer;
	display: flex;
	height: 100%;
	float: left;
	width: 85%;
}

.bottomContentLayout {
	margin-top: -0.5vmin;
	flex-direction: row;
	display: flex;
	width: 100%;
	height: 12%;
}

.centerCropped {
	background-repeat: no-repeat;
	object-position: center;
	border-radius: 25px;
	object-fit: cover;
	cursor: pointer;
	height: 87%;
	width: 100%;
}

.outerParentLayout {
	justify-content: space-between;
	padding-right: 1.5vw;
	padding-bottom: 8vh;
	flex-direction: row;
	padding-left: 1.5vw;
	padding-top: 9vh;
	display: flex;
	height: 100vh;
	width: 100vw;	
}

.scrollView::-webkit-scrollbar { 
    display: none;  
}

.scrollView {
	-ms-overflow-style: none; 
	flex-direction: column;
    scrollbar-width: none; 
	border-radius: 25px;
	align-items: center;
	overflow-y: auto;
	display: flex;
	height: 100%;
	width: 100%;
}
   
.leftMenuLayout {
	border-radius: 25px;
	background: white;	
	display: none;
	height: 100%;
	width: 38%;
}

.timelineWidget {
	margin-bottom: 2vmin;
	border-radius: 25px;
	background: white;
	height: 87vmin;
	width: 97%;
}

* { 
	-moz-box-sizing: border-box; 
  	-webkit-box-sizing: border-box; 
  	box-sizing: border-box; 
}


